body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 241, 240);
    font-family: Palatino, "URW Palladio L", serif;
    color: #3C3C3C;
}

#imgContainer > img{
    width: 350px;
    height: auto;
    border-radius: 150px;
}

#scoreContainer{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

#playerContainer,
#computerContainer{
    color: rgb(226, 159, 180);
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
}

#roundNum{
    color: rgb(131, 191, 131);
    font-size: 30px;
    margin: 0;

}

.computerGif{
    width: 100px;
}

.bubble{
    position: relative;
    background: #fff;
    padding: 20px;
    color: #3C3C3C;
    border-radius: 3px;
    margin-left: 20px;
    font-size: 30px;
}

.bubble::after{
    content: "";
    display: block;
    position: absolute;

    left: -15px;
    top: 15px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom:  8px solid transparent;
    border-right: 15px solid #fff;
}

#computerGifContainer{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    
}

#result{
    font-size: 20px;
    margin-bottom: 50px;
}
#resultsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.buttons{
    display: flex;
    align-items: stretch;
}

.buttons > button{
    background-color: rgb(255, 241, 240) ;
    border: none;
}

.playAgainBtn{
    margin-top: 40px;
    font-size: 30px;
    border-radius: 20px;
}

button:hover{
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

button img{
    border-radius: 100px;
}